<!DOCTYPE html>
<html>
<head>
  <title>HackathonWalker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

  <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/css/materialize.min.css">

  
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/js/materialize.min.js"></script>

  <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

  <!-- google maps -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBps9-R66V-5a4IMBC50bf89KE7hF-gmUc&libraries=places"></script>  
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/highcharts-more.js"></script>

  <script src="https://code.highcharts.com/modules/solid-gauge.js"></script>

  <%= csrf_meta_tags %>
<script>
  /* smooth scrolling sections */
   $('a[href*=#]:not([href=#])').click(function() {
       if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
           var target = $(this.hash);
           target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
           if (target.length) {
               $('html,body').animate({
                   scrollTop: target.offset().top - 50
               }, 1000);
               return false;
           }
       }
   });
</script>

</head>
<body>
  <nav>
    <div class="nav-wrapper">
      <div class="nav_text">
      <a href="#" class="left logo">Logo</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        
        <li><a href="">Home</a></li>
        <!-- Modal Trigger -->
        <li><a class="modal-trigger" href="#modal1">Login</a>

        <!-- Modal Structure -->
        <div id="modal1" class="modal modal-fixed-footer">
          <div class="modal-content">
            <h1>login form</h1>

            <form action="/sessions" method="post">
              <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">

              <input type="text" name='user[email]'>
              <label for='email'>Email</label>
              <input type="password" name='user[password]'>
              <label for='password'>Password</label>
            

              <div class="modal-footer">
                <input type="submit" value="Login">
            </form>
              <a href="/auth/facebook" class="modal-action modal-close  waves-green btn-flat">Login with Facebook</a>
          </div>
            </div>
            <div class="modal-footer">
              <a href="#!" class=" modal-action modal-close  waves-green btn-flat">Login</a>
            </div>
        </div></li>
        <li><a class="modal-trigger" href="#modal2">Sign Up</a>
          <div id="modal2" class="modal modal-fixed-footer">
            <div class="logo modal-content">
              <h1>signup form</h1>
              <form action="/users" method="post">
                <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
                
                <input type="text" name='user[name]'>
                <label for='name'>Name</label>
                
                <input type="text" name='user[email]'>
                <label for='email'>Email</label>
                
                <input type="text" name='user[password]'>
                <label for='password'>Password</label>
                
                <input type="text" name='user[password_confirmation]'>
                <label for='password_confirmation'>Password Confirmation</label>

                <div class="modal-footer">
                  <input type="Submit" value="Sign up">
                </div>
              </form>
            </div>
          </div>
        </li>
      </div>
      </ul>
    </div>
  </nav>
        

<% if flash[:errors] %>
  <% flash[:errors].each do |e| %>
    <p><%= e %></p>
  <% end %>
<% end %>



<% if current_user %>
  <form action='/sessions' method='post'>
    <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
    <input type='hidden' name='_method' value='delete'>
    <input type='submit' value='Log Out'>
  </form>
<% end %>


<%= yield %>

<!-- Footer -->
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col s12">
          <div class="footer-copyright">
          © 2015 Copyright
          </div>
        </div>
      </div>
    </div>
</footer>


 


<script type="text/javascript">
$(document).ready(function(){
    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
    $('.modal-trigger').leanModal();

  });
  </script>   


</body>
</html>




