<!DOCTYPE html>
<html>
<head>
  <title>HackathonWalker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

  <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/css/materialize.min.css">

  
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/js/materialize.min.js"></script>

  <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

  <!-- google maps -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBps9-R66V-5a4IMBC50bf89KE7hF-gmUc&libraries=places"></script>  
  <%= csrf_meta_tags %>


</head>
<body>
  <nav>
    <div class="nav-wrapper">
      <div class="nav_text">
      <a href="#" class="left logo">Logo</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        
        <li><a href="">Home</a></li>
        <!-- Modal Trigger -->
        <li><a class="modal-trigger" href="#modal1">Login</a>

        <!-- Modal Structure -->
        <div id="modal1" class="modal modal-fixed-footer">
          <div class="logo modal-content">
                <h1>login/signup form</h1>
          </div>
          <div class="modal-footer">
            <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Login</a>
          </div>
        </div></li>
        <li><a href="">Sign Up</a></li>
      </div>
      </ul>
    </div>
  </nav>
        

<% if flash[:errors] %>
  <% flash[:errors].each do |e| %>
    <p><%= e %></p>
  <% end %>
<% end %>



<% if current_user %>
  <form action='/sessions' method='post'>
    <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
    <input type='hidden' name='_method' value='delete'>
    <input type='submit' value='Log Out'>
  </form>
<% end %>


<%= yield %>
<!-- Footer -->
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col s12">
          <div class="footer-copyright">
          © 2015 Copyright
          </div>
        </div>
      </div>
    </div>
</footer>


 


<script type="text/javascript">
$(document).ready(function(){
    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
    $('.modal-trigger').leanModal();
  });
  </script>   


</body>
</html>




